#guess-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: middle;
}
#text-input {
  margin: 0 10px 15px 0;
}
.guesses {
  flex: 1;
}
#invalid {
  background-color: #e3e3e3;
  color: gray;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.guess {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.incorrect {
  color: #d20000;
}
#guess-count {
  font-weight: bold;
  margin: 10px;
}
#guesses-con {
  display: flex;
}
