#guess-con {
  display: flex;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  max-width: 550px;
  margin-bottom: 10px;
}
.guesses {
  flex: 1;
}
#invalid {
  background-color: #e3e3e3;
  color: gray;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.guess {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.incorrect {
  color: #d20000;
}
.guess-count {
  font-weight: bold;
  margin: 10px;
  border-bottom: 1px solid #7f7f7f;
  padding-bottom: 10px;
}
#guesses-con {
  display: flex;
}
